/* 
'Roboto' 400,500,700,900
'Raleway' 700,

#2196F3
#000000
основний колір тесту #757575
заливка банер+футер #2F303A
заголовки #212121
#FFFFFF
кнопка active #188CE8
фільт bgc #F5F4FA
*/

/* header */

/* hero */

/* company benefits */

/* what do we do */

/* our team */

/* Our customers */

/* footer */

/* portfolio */

/* our projects */

/* modal btn */

/* ------------------------------------------ */

/* -----------------------TEST----------------------- */ 

.btn-test{
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  cursor: pointer;
}

/* -----------------------TEST----------------------- */